/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@1,300&display=swap');

@import "~bootstrap/dist/css/bootstrap.css";

*{
  font-family:Lato;
  line-height:1.4;
  margin:0%;padding:0%;
}

body{
  box-sizing:border-box ;
  font-size: 100%;
}
